.rolling {
  animation: rolling 2s ease-in-out;
  position: absolute;
}

@keyframes rolling {
  0% {
    transform: translateX(-2rem) translateY(14.5rem) rotate(90deg);
  }
  20% {
    transform: translateX(-10rem) translateY(14.5rem) rotate(90deg);
  }
  50% {
    transform: translateX(8rem) translateY(14.5rem) rotate(90deg);
  }
  70% {
    transform: translateX(-14rem) translateY(14.5rem) rotate(90deg);
  }
  100% {
    transform: translateX(0rem) translateY(0rem) rotate(0deg);
  }
}

.frying {
  animation: fry 2s ease-in-out infinite;
}

@keyframes fry {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.05) translateY(-4px);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@font-face {
  font-family: "capuche";
  src: url("/src/assets/fonts/Capuche.otf");
  font-weight: normal;
  font-style: normal;
}
